@page "/Admin/Users"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using RemoteMaster.Server.Components.Account
@using RemoteMaster.Server.Components.Account.Shared
@using RemoteMaster.Server.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject RoleManager<IdentityRole> RoleManager

<PageTitle>Manage Users</PageTitle>

<StatusMessage />

<div class="flex flex-wrap">
    <div class="mb-6 w-full px-3 md:w-1/2">
        <EditForm Model="Input" OnValidSubmit="OnValidSubmitAsync" FormName="CreateUser">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-red-500" role="alert" />
            <div class="mb-4">
                <label for="username" class="mb-2 block text-sm font-bold text-gray-700">Username</label>
                <InputText @bind-Value="Input.Username" id="username" class="mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Please enter username" />
                <ValidationMessage For="() => Input.Username" class="text-red-500 mt-2" />
            </div>
            <div class="mb-4">
                <label for="email" class="mb-2 block text-sm font-bold text-gray-700">E-Mail</label>
                <InputText @bind-Value="Input.Email" id="email" class="mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Please enter email" />
                <ValidationMessage For="() => Input.Email" class="text-red-500 mt-2" />
            </div>
            <div class="mb-4">
                <label for="role" class="mb-2 block text-sm font-bold text-gray-700">Role</label>
                <InputSelect @bind-Value="Input.Role" id="role" class="mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Please select role">
                    @foreach (var role in _roles)
                    {
                        <option value="@role.Name">@role.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Input.Role" class="text-red-500 mt-2" />
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <InputText type="password" @bind-Value="Input.Password" class="mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 placeholder-gray-400 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" />
                <ValidationMessage For="() => Input.Password" class="text-red-600 mt-2" />
            </div>
            <div class="mb-4">
                <label for="confirm-password" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                <InputText type="password" @bind-Value="Input.ConfirmPassword" class="mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 placeholder-gray-400 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" />
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-red-600 mt-2" />
            </div>
            <button type="submit" class="w-full rounded-md bg-blue-600 px-4 py-3 font-bold text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Create</button>
        </EditForm>
    </div>
</div>