@using Radzen

@page "/config-generator"

<RadzenCard>
    <RadzenHeading Size="H3" Text="Configuration Generator"></RadzenHeading>

    <form method="post" action="api/ClientConfiguration/generate">
        <div style="margin: 20px 0;">
            <RadzenLabel Text="Computer Group:" style="display: block; margin-bottom: 10px;"></RadzenLabel>
            <RadzenTextBox @bind-Value="_group" Width="100%" Name="Group"></RadzenTextBox>
        </div>

        <div style="margin: 20px 0;">
            <RadzenButton ButtonType=ButtonType.Submit Text="Generate and Download Config"></RadzenButton>
        </div>
    </form>
</RadzenCard>
