@page "/"
@using Radzen;
@using RemoteMaster.Server.Models;
@using RemoteMaster.Server.Components;

<div class="bg-blue-600 text-white text-center py-2 font-semibold">
    Удаленное Управление
</div>

<div class="flex h-screen">

    <div class="w-1/4 bg-gray-100 p-4 overflow-y-auto noselect">
        <RadzenTree Data="_entries" Change="OnTreeChange" Expand="LoadComputers" Style="list-style-type: none;">
            <RadzenTreeLevel Text="GetTextForNode" Template="NodeTemplate" />
        </RadzenTree>
    </div>

    <div class="w-3/4 p-4 flex flex-wrap gap-4 items-start">
        @if (_selectedNode is Folder selectedFolder)
        {
            foreach (var child in selectedFolder.Children)
            {
                if (child is Computer computer)
                {
                    <div class="w-1/4 p-2">
                        <ComputerCard Computer="computer" />
                    </div>
                }
            }
        }
    </div>

</div>

<style>
    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>
