@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Remote Management Server</h1>
    <p class="lead">Remotely manage and control devices from anywhere</p>
    <p>Connect to this server from your client machine and take control of the remote devices.</p>
    <p>
        <a href="https://remotemaster.com/download" class="btn btn-primary btn-lg">Download the Client Application</a>
    </p>
</div>