@page "/"
@using RemoteMaster.Server.Models
@using RemoteMaster.Server.Components

<div class="bg-blue-600 text-white py-2 font-semibold select-none flex justify-between items-center">
    <div class="ml-2">
        <MudMenu Label="Service">
            <MudMenuItem OnClick="OpenHostConfigGenerator">Host Configuration Generator</MudMenuItem>
        </MudMenu>
    </div>

    <div></div> <!-- Этот пустой div нужен для "выравнивания" flexbox -->

    <div class="flex items-center space-x-4 mr-2">
        <LoginDisplay />
    </div>
</div>

<div class="flex h-screen overflow-x-hidden overflow-y-hidden select-none">

    <div class="bg-gray-100 p-4 overflow-y-auto">
        <MudTreeView Items="Nodes" Hover="true">
            <ItemTemplate>
                <MudTreeViewItem Items="@context.Nodes" Value="@context" Text="@context.Name" />
            </ItemTemplate>
        </MudTreeView>

    </div>

    <div class="flex-grow p-4 flex flex-col gap-4 bg-gray-300">
        <!-- Область для табов -->

        <!-- Контент с карточками ПК -->
        <div class="flex flex-wrap gap-4 items-start overflow-y-auto">
            @if (_selectedNode is Folder selectedFolder)
            {
                foreach (var child in selectedFolder.Nodes)
                {
                    if (child is Computer computer)
                    {
                        <div class="w-1/6">
                            <ComputerCard @key="computer" Computer="computer" IsSelectedChanged="@(isSelected => HandleComputerSelection(computer, isSelected))" />
                        </div>
                    }
                }
            }
        </div>
    </div>

</div>
