@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<div class="mx-auto mt-20 max-w-md">
    <header class="text-center">
        <h1 class="text-3xl font-semibold text-red-600">Access denied</h1>
        <p class="mt-4 text-lg text-red-500">You do not have access to this resource.</p>
    </header>
</div>
