@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<div class="mx-auto mt-20 max-w-md">
    <header class="text-center">
        <h1 class="text-3xl font-semibold text-red-600">Locked out</h1>
        <p class="mt-4 text-lg text-red-500">This account has been locked out, please try again later.</p>
    </header>
</div>
