@page "/Account/LoginWithRecoveryCode"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using RemoteMaster.Server.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<LoginWithRecoveryCode> Logger

<PageTitle>Recovery code verification</PageTitle>

<div class="flex min-h-screen items-center justify-center bg-gray-900 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-8">
        <div class="rounded-lg bg-white shadow-xl">
            <div class="p-8">
                <h1 class="mb-4 text-center text-3xl font-bold text-gray-800">Recovery code verification</h1>
                <hr class="mb-6 border-gray-300" />
                <StatusMessage Message="@message" />
                <p class="mb-4 text-gray-600">
                    You have requested to log in with a recovery code. This login will not be remembered until you provide
                    an authenticator app code at log in or disable 2FA and log in again.
                </p>
                <EditForm Model="Input" FormName="login-with-recovery-code" OnValidSubmit="OnValidSubmitAsync" method="post">
                    <DataAnnotationsValidator />
                    <ValidationSummary class="text-red-500" role="alert" />
                    <div class="mb-4">
                        <label for="recovery-code" class="block text-sm font-medium text-gray-700">Recovery Code</label>
                        <InputText @bind-Value="Input.RecoveryCode" class="mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" autocomplete="off" placeholder="Recovery Code" />
                        <ValidationMessage For="() => Input.RecoveryCode" class="text-red-500 mt-2" />
                    </div>
                    <button type="submit" class="w-full rounded-md bg-indigo-600 px-4 py-2 text-lg text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50">Log in</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>
