@page "/Account/Login"

@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization
@using RemoteMaster.Server.Abstractions
@using RemoteMaster.Server.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject ITokenService TokenService
@inject UserManager<ApplicationUser> UserManager
@inject IJSRuntime JsRuntime
@inject ITokenStorageService TokenStorageService
@inject IServiceScopeFactory ScopeFactory
@inject IStringLocalizer<Login> Localizer

<PageTitle>@Localizer["PageTitle"]</PageTitle>

<style>
    @@keyframes gradient-animation {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

    .animated-gradient-bg {
        background: linear-gradient(270deg, #ff6ec4, #7873f5, #7ee8fa, #eec0c6, #ff6ec4);
        background-size: 1000% 1000%;
        animation: gradient-animation 30s ease infinite;
        position: relative;
        overflow: hidden;
    }
</style>

<div class="animated-gradient-bg flex min-h-screen items-center justify-center px-4 sm:px-6 lg:px-8">
    <div id="tsparticles"></div>
    <div class="z-10 relative w-full max-w-md space-y-8">
        <div class="rounded-xl bg-white shadow-2xl">
            <div class="p-10">
                <h1 class="mb-6 text-center text-3xl font-bold text-gray-900">RemoteMaster Server</h1>
                <h2 class="mb-4 text-center text-xl font-medium text-gray-700">@Localizer["LoginHeader"]</h2>
                <StatusMessage Message="@errorMessage" />
                <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                    <DataAnnotationsValidator />
                    <div class="mb-6">
                        <label for="username" class="block text-sm font-medium text-gray-800">Username</label>
                        <InputText id="username" @bind-Value="Input.Username" class="mt-1 block w-full rounded-lg border border-gray-300 px-4 py-2 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent" placeholder="Enter your username" />
                    </div>
                    <div class="mb-6">
                        <label for="password" class="block text-sm font-medium text-gray-800">Password</label>
                        <InputText id="password" type="password" @bind-Value="Input.Password" class="mt-1 block w-full rounded-lg border border-gray-300 px-4 py-2 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent" placeholder="Enter your password" />
                    </div>
                    <button type="submit" class="w-full rounded-lg bg-purple-600 px-4 py-2 text-lg font-semibold text-white hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500">
                        Log in
                    </button>
                </EditForm>
            </div>
        </div>
    </div>
</div>
