@namespace RemoteMaster.Client.Components

<Modal @ref="_modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Add Folder</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Validations @ref="@_fluentValidations" Mode="ValidationMode.Manual" Model="@_newFolder" HandlerType="typeof(FluentValidationHandler)">
                <Validation>
                    <Field>
                        <FieldLabel>Name</FieldLabel>
                        <TextEdit @bind-Text="_newFolder.Name" Placeholder="Enter Folder Name">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                        </TextEdit>
                    </Field>
                </Validation>
            </Validations>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="Hide">Close</Button>
            <Button Color="Color.Primary" Clicked="Add">Add</Button>
        </ModalFooter>
    </ModalContent>
</Modal>