@using Radzen
@using RemoteMaster.Client.Models;
@inject ContextMenuService ContextMenuService

<RadzenCard Style="width: 256px; height: 192px;">
    <div class="p-3">
        <RadzenImage Path="https://placehold.co/500x300" Style="height: 128px; width: 100%; object-fit: cover;" />

        <div class="d-flex justify-content-between align-items-center mt-3">
            <RadzenLabel Text="@Computer.Name" />
            <RadzenButton Icon="more_vert" Style="border: none; background: transparent;"
            @onclick="@(args => ShowContextMenu(args))" />
        </div>
    </div>
</RadzenCard>

@code {
    [Parameter]
    public Computer Computer { get; set; }

    void ShowContextMenu(MouseEventArgs args)
    {
        ContextMenuService.Open(args,
            new List<ContextMenuItem> {
                new ContextMenuItem(){ Text = "Open Command", Value = "Command", Icon = "terminal" },
                new ContextMenuItem(){ Text = "Open in Tab", Value = "Tab", Icon = "external_link_alt" },
             }, OnMenuItemClick);
    }

    void OnMenuItemClick(MenuItemEventArgs args)
    {
        if (args.Value.Equals("Command"))
        {
            // Put your command action here
            // OnOpenShell.InvokeAsync(Computer)
        }
        else if (args.Value.Equals("Tab"))
        {
            // Put your tab action here
            // OnOpenInNewTab.InvokeAsync(Computer)
        }
        ContextMenuService.Close();
    }
}
