@using Radzen
@using Microsoft.AspNetCore.Components
@using RemoteMaster.Client.Models;

<div @oncontextmenu:preventDefault="true" @oncontextmenu="@(args => ShowContextMenu(args))" class="mb-5 selectable-node" data-ip-address="@Computer.IPAddress">
    <RadzenCard class="computer-card w-full max-w-xs mx-auto bg-white shadow-md overflow-hidden md:max-w-2xl">
        <div class="p-2">
            <RadzenImage Path="https://placehold.co/500x300" class="h-32 w-full object-cover" />
            <div class="mt-2 flex items-center justify-between">
                <RadzenLabel Text="@Computer.Name" class="text-xl truncate"/>
            </div>
        </div>
    </RadzenCard>
</div>

<style>
    .computer-card {
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .computer-card:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
</style>
