@namespace RemoteMaster.Client.Components

<Card class="card w-24 h-32 cursor-pointer hover:border-blue-500 border-2">
    <Dropdown RightAligned ShowArrow="false" class="absolute right-0 mt-2">
        <DropdownToggle>
            <Button Margin="Margin.Is0" Padding="Padding.Is0">
                <Icon Name="IconName.Bars" />
            </Button>
        </DropdownToggle>
        <DropdownMenu>
            <DropdownItem Clicked="(() => OnOpenShell.InvokeAsync(Computer))">
                <span>
                    <i class="fas fa-terminal mr-2"></i> Open Command
                </span>
            </DropdownItem>
            <DropdownItem Clicked="(() => OnOpenInNewTab.InvokeAsync(Computer))">
                <span>
                    <i class="fas fa-external-link-alt mr-2"></i> Open in Tab
                </span>
            </DropdownItem>
        </DropdownMenu>
    </Dropdown>
    <CardBody class="m-2 p-1">
        <CardTitle Size="3" class="text-sm font-bold">
            @Computer.Name
        </CardTitle>
    </CardBody>
</Card>
