@page "/{Host}/connect"

<FluentHeader>
    <FluentButton OnClick="OpenConnectPanelAsync" IconStart="@(new Icons.Regular.Size24.PanelLeftExpand())" />
</FluentHeader>

<div class="container">
    @if (!string.IsNullOrEmpty(_screenDataUrl))
    {
        <img id="screenImage" src="@_screenDataUrl" @oncontextmenu:preventDefault="true" @oncontextmenu="(MouseEventArgs e) => {}" draggable="false" onload="window.revokeUrl(this.src)" @onmousemove="OnMouseMove" @onmousedown="OnMouseUpDown" @onmouseup="OnMouseUpDown" @onmouseover="OnMouseOver" @onmousewheel="OnMouseWheel" />
    }
    else
    {
        <p>Establishing connection...</p>
    }
</div>

<style>
    .container {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #2D3748; /* bg-gray-800 */
        color: white; /* text-white */
        padding: 1.5rem; /* p-6 */
    }

    #screenImage {
        object-fit: contain;
        margin: auto; /* mx-auto */
        max-height: 100%; /* max-h-full */
        max-width: 100%; /* max-w-full */
    }
</style>
