@page "/{Host}/registry"

@rendermode InteractiveServer

@using RemoteMaster.Server.Abstractions

@inject IAccessTokenProvider AccessTokenProvider
@inject IJSRuntime JsRuntime
@inject ILogger<Registry> Logger

<PageTitle>Registry</PageTitle>

@foreach (var rootKey in _rootKeys)
{
    <div>
        @rootKey
    </div>
}
