@using RemoteMaster.Client.Maui.Models
@using System.Collections.ObjectModel

<Modal @ref="_modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Add Folder</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Validations @ref="@_fluentValidations" Mode="ValidationMode.Manual" Model="@_newFolder" HandlerType="typeof(FluentValidationHandler)">
                <Validation>
                    <Field>
                        <FieldLabel>Name</FieldLabel>
                        <TextEdit @bind-Text="_newFolder.Name" Placeholder="Enter Folder Name">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                        </TextEdit>
                    </Field>
                </Validation>
            </Validations>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="Hide">Close</Button>
            <Button Color="Color.Primary" Clicked="AddFolder">Add</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    private Modal _modalRef;
    private Folder _newFolder = new Folder();

    private Validations _fluentValidations;

    public void Show()
    {
        _modalRef.Show();
    }

    public void Hide()
    {
        _modalRef.Hide();
    }

    public async void AddFolder()
    {
        if (await _fluentValidations.ValidateAll())
        {
            await OnAdd.InvokeAsync(_newFolder);
            _newFolder = new Folder();
            Hide();
        }
    }

    [Parameter]
    public EventCallback<Folder> OnAdd { get; set; }
}
