@using RemoteMaster.Client.Maui.Models
@using System.Collections.ObjectModel

<Modal @ref="_modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Synchronization Results</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            @if (_adNodes != null && _adNodes.Count > 0)
            {
                <TreeView Nodes="_adNodes" GetChildNodes="@(node => (node as Folder)?.Children)" HasChildNodes="@(node => node is Folder)" @bind-SelectedNode="_selectedNode" @bind-ExpandedNodes="_expandedNodes">
                    <NodeContent>
                        <Icon Name="@((_expandedNodes.Contains(context) && context is Folder) ? context.ExpandedIcon : context.Icon)" />
                        @context.Name
                    </NodeContent>
                </TreeView>
            }
            else
            {
                <p>No data to display</p>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="Hide">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    private Modal _modalRef;
    private ObservableCollection<Node> _adNodes = new ObservableCollection<Node>();
    private IList<Node> _expandedNodes = new List<Node>();
    private Node _selectedNode;

    public void Show(ObservableCollection<Node> adNodes)
    {
        _adNodes = adNodes;
        _modalRef.Show();
    }

    public void Hide()
    {
        _modalRef.Hide();
    }
}
