@page "/Admin"

@using RemoteMaster.Server.Components.Account.Shared

<PageTitle>Profile</PageTitle>

<StatusMessage />

<div class="flex flex-wrap">
    <div class="mb-6 w-full px-3 md:w-1/2">
    </div>
</div>
