@page "/Admin/SignInJournal"

@namespace RemoteMaster.Server.Components.Admin.Pages.Manage

@inject IServiceScopeFactory ScopeFactory

<PageTitle>SignIn Journal</PageTitle>

<div class="overflow-x-auto">
    <table class="min-w-full border border-gray-300 bg-white">
        <thead>
            <tr class="bg-gray-200">
                <th class="border-b-2 leading-4 border-gray-300 px-6 py-3 text-left text-sm uppercase tracking-wider text-gray-600">User</th>
                <th class="border-b-2 leading-4 border-gray-300 px-6 py-3 text-left text-sm uppercase tracking-wider text-gray-600">Sign-In Time</th>
                <th class="border-b-2 leading-4 border-gray-300 px-6 py-3 text-left text-sm uppercase tracking-wider text-gray-600">Success</th>
                <th class="border-b-2 leading-4 border-gray-300 px-6 py-3 text-left text-sm uppercase tracking-wider text-gray-600">IP Address</th>
            </tr>
        </thead>
        <tbody class="bg-white">
            @foreach (var entry in _signInJournalEntries)
            {
                <tr class="hover:bg-gray-100">
                    <td class="whitespace-no-wrap border-b border-gray-300 px-6 py-4">@entry.User.UserName</td>
                    <td class="whitespace-no-wrap border-b border-gray-300 px-6 py-4">@entry.SignInTime.ToLocalTime()</td>
                    <td class="whitespace-no-wrap border-b border-gray-300 px-6 py-4">@(entry.IsSuccessful ? "Yes" : "No")</td>
                    <td class="whitespace-no-wrap border-b border-gray-300 px-6 py-4">@entry.IpAddress</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (!_signInJournalEntries.Any())
{
    <p class="mt-6 text-center text-gray-500">No sign-in attempts recorded.</p>
}