<div class="h-full flex-grow bg-gray-100 p-5 dark:bg-gray-800">
    <h1 class="text-xl font-semibold text-gray-900 dark:text-gray-100">@Title</h1>
    <div class="mt-4 rounded bg-white p-4 shadow dark:bg-gray-700">
        @ChildContent
    </div>
</div>