@inject IJSRuntime JsRuntime

<div id="@ContainerId" class="@ContainerClasses" @onmousedown="OnMouseDown" @onmousemove="OnMouseMove" @onmouseup="OnMouseUp">
    <div style="@SelectionBoxStyle"></div>
    @ChildContent
</div>
