@inject IJSRuntime JsRuntime

<div id="selectable-container" class="@ContainerClasses"
     @onmousedown="OnMouseDown" @onmousemove="OnMouseMove" @onmouseup="OnMouseUp">
    <div style="@SelectionBoxStyle"></div>
    @ChildContent
</div>