@inject IJSRuntime JsRuntime

<div id="@ContainerId" class="@ContainerClasses" @onmousedown="OnMouseDown" @onmousemove="OnMouseMove" @onmouseup="OnMouseUp">
    <div class="@GetSelectionBoxClasses()" style="@_selectionBoxStyle"></div>
    @ChildContent
</div>
