<div style="transition-duration:@(AnimationDurationMs)ms; right:@(_isSidebarOpen ? "0" : $"-{WidthPx}px"); width:@($"{WidthPx}px")" class="@(BaseColorClass) fixed top-0 h-full w-64 p-5 shadow-lg transition-all duration-500 ease-out">
    <h2 class="mb-4 text-lg font-bold">@Title</h2>
    @ChildContent
    <div class="@(BaseColorClass) absolute inset-y-1/2 -left-5 flex h-10 w-5 cursor-pointer items-center justify-center rounded-bl-full rounded-tl-full transition-opacity duration-300" style="opacity:@(GetSwitchOpacity())" @onclick="ToggleSidebar">
        <span class="material-icons text-white">
            @(_isSidebarOpen ? IconOpen : IconClosed)
        </span>
    </div>
</div>
