@inherits LayoutComponentBase
@layout AccountLayout

<div class="min-h-screen bg-gray-100 py-10">
    <h1 class="mb-10 text-center text-4xl font-bold text-gray-800">Manage your account</h1>

    <div class="container mx-auto px-4">
        <div class="overflow-hidden rounded-lg bg-white shadow-lg">
            <div class="md:flex">
                <!-- Sidebar -->
                <div class="w-full bg-gray-50 p-4 md:w-1/4">
                    <ManageNavMenu />
                </div>
                <!-- Main Content -->
                <div class="w-full p-6 md:w-3/4">
                    <h2 class="mb-4 text-2xl font-semibold text-gray-800">Change your account settings</h2>
                    <hr class="mb-6 border-t border-gray-300" />
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>