@if (!string.IsNullOrEmpty(DisplayMessage))
{
    var statusMessageClass = DisplayMessage.StartsWith("Error") ? "bg-red-100 border-l-4 border-red-500 text-red-700" : "bg-green-100 border-l-4 border-green-500 text-green-700";
    <div class="@statusMessageClass mb-4 p-4" role="alert">
        @DisplayMessage
    </div>
}
