@page "/Account/Manage/ChangePassword"

@using Microsoft.AspNetCore.Identity
@using RemoteMaster.Server.Aggregates.ApplicationUserAggregate

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ChangePassword> Logger

<PageTitle>Change password</PageTitle>

<div class="space-y-6">
    <StatusMessage Message="@_message" />

    <!-- Form -->
    <div class="w-full">
        <EditForm Model="Input" FormName="change-password" OnValidSubmit="OnValidSubmitAsync" class="space-y-6">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-red-500" role="alert" />

            <div>
                <label for="old-password" class="block text-sm font-medium text-gray-700">Old password</label>
                <InputText type="password" @bind-Value="Input.OldPassword" id="old-password" class="mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <ValidationMessage For="() => Input.OldPassword" class="text-red-500 mt-1" />
            </div>

            <div>
                <label for="new-password" class="block text-sm font-medium text-gray-700">New password</label>
                <InputText type="password" @bind-Value="Input.NewPassword" id="new-password" class="mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <ValidationMessage For="() => Input.NewPassword" class="text-red-500 mt-1" />
            </div>

            <div>
                <label for="confirm-password" class="block text-sm font-medium text-gray-700">Confirm password</label>
                <InputText type="password" @bind-Value="Input.ConfirmPassword" id="confirm-password" class="mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-red-500 mt-1" />
            </div>

            <button type="submit" class="w-full rounded-md bg-indigo-600 px-4 py-2 text-lg text-white hover:bg-indigo-700 focus:outline-none">Update password</button>
        </EditForm>
    </div>
</div>
