@page "/Account/Manage/TwoFactorAuthentication"

@using Microsoft.AspNetCore.Identity
@using RemoteMaster.Server.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>Two-factor authentication (2FA)</PageTitle>

<StatusMessage />
<div class="space-y-6">
    <h3 class="leading-6 text-lg font-medium text-gray-900">Two-factor authentication (2FA)</h3>
    @if (_canTrack)
    {
        @if (_is2faEnabled)
        {
            @if (_recoveryCodesLeft == 0)
            {
                <div class="alert alert-danger rounded-md bg-red-100 p-4 text-red-700">
                    <strong>You have no recovery codes left.</strong>
                    <p>You must <a href="Account/Manage/GenerateRecoveryCodes" class="text-indigo-600">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
                </div>
            }
            else if (_recoveryCodesLeft == 1)
            {
                <div class="alert alert-danger rounded-md bg-red-100 p-4 text-red-700">
                    <strong>You have 1 recovery code left.</strong>
                    <p>You can <a href="Account/Manage/GenerateRecoveryCodes" class="text-indigo-600">generate a new set of recovery codes</a>.</p>
                </div>
            }
            else if (_recoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning rounded-md bg-yellow-100 p-4 text-yellow-700">
                    <strong>You have @_recoveryCodesLeft recovery codes left.</strong>
                    <p>You should <a href="Account/Manage/GenerateRecoveryCodes" class="text-indigo-600">generate a new set of recovery codes</a>.</p>
                </div>
            }

            @if (_isMachineRemembered)
            {
                <form style="display: inline-block" @formname="forget-browser" @onsubmit="OnSubmitForgetBrowserAsync" method="post">
                    <AntiforgeryToken />
                    <button type="submit" class="rounded-md bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700 focus:outline-none">Forget this browser</button>
                </form>
            }

            <div class="space-y-4">
                <a href="Account/Manage/Disable2fa" class="rounded-md bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700 focus:outline-none">Disable 2FA</a>
                <a href="Account/Manage/GenerateRecoveryCodes" class="rounded-md bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700 focus:outline-none">Reset recovery codes</a>
            </div>
        }

        <h4 class="leading-6 text-lg font-medium text-gray-900">Authenticator app</h4>
        @if (!_hasAuthenticator)
        {
            <a href="Account/Manage/EnableAuthenticator" class="rounded-md bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700 focus:outline-none">Add authenticator app</a>
        }
        else
        {
            <div class="space-y-4">
                <a href="Account/Manage/EnableAuthenticator" class="rounded-md bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700 focus:outline-none">Set up authenticator app</a>
                <a href="Account/Manage/ResetAuthenticator" class="rounded-md bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700 focus:outline-none">Reset authenticator app</a>
            </div>
        }
    }
    else
    {
        <div class="alert alert-danger rounded-md bg-red-100 p-4 text-red-700">
            <strong>Privacy and cookie policy have not been accepted.</strong>
            <p>You must accept the policy before you can enable two factor authentication.</p>
        </div>
    }
</div>
