@using RemoteMaster.Server.Components.Library

@rendermode InteractiveServer

<Dialog CloseDialog="CloseDialog">
    <DialogContent>
        <h2 class="text-lg font-semibold">Sample Dialog</h2>
        <p>This is a sample dialog content.</p>
    </DialogContent>
    <DialogActions>
        <button class="rounded-md bg-blue-500 px-4 py-2 text-white" @onclick="CloseDialog">Close</button>
    </DialogActions>
</Dialog>