@inherits CommonDialogBase

<CommonDialog>
    <Content>
        <MudGrid>
            <MudItem xs="4">
                <MudRadioGroup T="bool" @bind-Value="@_selectedOption">
                    <MudRadio Value="true">Enable</MudRadio>
                    <MudRadio Value="false">Disable</MudRadio>
                </MudRadioGroup>
            </MudItem>
            
            <MudItem xs="6">
                <MudExpansionPanels Class="max-h-[340px] overflow-y-auto" MultiExpansion="true">
                    @foreach (var (computer, results) in _resultsPerComputer)
                    {
                        <MudExpansionPanel Text="@($"Results for {computer.Name} ({computer.IpAddress}) - PID: {results.LastPid}")">
                            @foreach (var line in results.Messages.ToString().Split([Environment.NewLine], StringSplitOptions.None))
                            {
                                <div>@line</div>
                            }
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>
            </MudItem>
        </MudGrid>
    </Content>
    <Actions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Ok">Ok</MudButton>
    </Actions>
</CommonDialog>