@inherits CommonDialogBase

@using RemoteMaster.Shared.Enums

@inject IJSRuntime JsRuntime

<CommonDialog>
    <Content>
        <MudGrid>
            <MudItem xs="3">
                <MudTextField T="string" Label="Script" @bind-Value="_content" Lines="4" Placeholder="Enter or upload your script here..." />

                <MudFileUpload T="IBrowserFile" Accept=".bat, .cmd, .ps1" FilesChanged="UploadFiles">
                    <ActivatorContent>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.FileUpload" FullWidth>
                             Upload Script
                         </MudButton>
                     </ActivatorContent>
                 </MudFileUpload>

                 <MudSelect T="Shell" Label="Select Shell" @bind-Value="_shell" Dense="true">
                    @foreach (var shellType in Enum.GetValues(typeof(Shell)).Cast<Shell>())
                    {
                        <MudSelectItem Value="@shellType" />
                    }
                </MudSelect>

                <MudCheckBox T="bool" @bind-Value="_asSystem" Label="As System" />

                <MudStack Spacing="2">
                    <MudButton OnClick="CleanResults" Variant="Variant.Filled" Color="Color.Error" Disabled="!_resultsPerComputer.Any()">Clear results</MudButton>
                    <MudButton OnClick="ExportResults" Variant="Variant.Filled" Color="Color.Surface" Disabled="!_resultsPerComputer.Any()">Export Results</MudButton>
                </MudStack>
            </MudItem>

            <MudItem xs="9">
                <MudExpansionPanels Class="max-h-[340px] overflow-y-auto" MultiExpansion="true">
                    @foreach (var (computer, results) in _resultsPerComputer)
                    {
                        <MudExpansionPanel Text="@($"Results for {computer.Name} ({computer.IpAddress}) - PID: {results.LastPid}")" Class="select-text">
                            @foreach (var line in results.Messages.ToString().Split([Environment.NewLine], StringSplitOptions.None))
                            {
                                <div>@line</div>
                            }
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>
            </MudItem>
        </MudGrid>
    </Content>
    <Actions>
        <MudButton Color="Color.Primary" OnClick="RunScript" Disabled="HasConnectionIssues">Run Script</MudButton>
    </Actions>
</CommonDialog>