@namespace RemoteMaster.Client.Components
@using RemoteMaster.Client.Models

<Modal @ref="_modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Synchronization Results</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            @if (_adNodes != null && _adNodes.Count > 0)
            {
                <TreeView Nodes="_adNodes" GetChildNodes="@(node => (node as Folder)?.Children)" HasChildNodes="@(node => node is Folder)" @bind-SelectedNode="_selectedNode" @bind-ExpandedNodes="_expandedNodes">
                    <NodeContent>
                        <Icon Name="@((_expandedNodes.Contains(context) && context is Folder) ? context.ExpandedIcon : context.Icon)" />
                        @context.Name
                    </NodeContent>
                </TreeView>
            }
            else
            {
                <p>No data to display</p>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="Hide">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>