@using RemoteMaster.Client.Models
@using System.Collections.ObjectModel

<Modal @ref="_modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Add Folder</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Name</FieldLabel>
                <TextEdit @bind-Text="_newFolder.Name" Placeholder="Enter Folder Name" />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="Hide">Close</Button>
            <Button Color="Color.Primary" Clicked="AddFolder">Add</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    private Modal _modalRef;
    private Folder _newFolder = new Folder();

    public void Show()
    {
        _modalRef.Show();
    }

    public void Hide()
    {
        _modalRef.Hide();
    }

    public void AddFolder()
    {
        OnAdd.InvokeAsync(_newFolder);
        _newFolder = new Folder();
        Hide();
    }

    [Parameter]
    public EventCallback<Folder> OnAdd { get; set; }
}
