@page "/{ipAddress}/control"

@using RemoteMaster.Client.Models
@using RemoteMaster.Client.Services;

@inject ComputerService ComputerService

@code {
    [Parameter]
    public string IPAddress { get; set; }

    private Computer managedComputer;
    private string errorMessage;

    protected override void OnInitialized()
    {
        try
        {
            managedComputer = ComputerService.GetComputerByIp(IPAddress);
        }
        catch (Exception ex)
        {
            errorMessage = $"Error getting computer: {ex.Message}";
        }
    }
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p>@errorMessage</p>
}
else if (managedComputer != null)
{
    <div class="m-2">
        <Screen IPAddress="@IPAddress" />
    </div>
}
