@page "/{Host}/control"
@layout ControlLayout

<div class="h-full w-full">
    @if (!string.IsNullOrEmpty(_screenDataUrl))
    {
        <img id="screenImage" src="@_screenDataUrl" draggable="false" class="object-contain mx-auto max-h-full max-w-full" onload="window.revokeUrl(this.src)" @onmousemove="OnMouseMove" @onmousedown="OnMouseUpDown" @onmouseup="OnMouseUpDown" @onmouseover="OnMouseOver" @onmousewheel="OnMouseWheel" />
    }
    else
    {
        <p class="text-white">Establishing connection...</p>
    }
</div>

<style>
    body {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>
