@page "/{Host}/control"
@layout ControlLayout

@if (!string.IsNullOrEmpty(_screenDataUrl))
{
    <img id="screenImage" src="@_screenDataUrl" draggable="false" width="1494" onload="window.revokeUrl(this.src)" @onmousemove="OnMouseMove" @onmousedown="OnMouseUpDown" @onmouseup="OnMouseUpDown" @onmouseover="OnMouseOver" @onmousewheel="OnMouseWheel" />
}
else
{
    <p>Establishing connection...</p>
}

<style>
    body {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* #screenImage {
        border: 1px solid black;
    } */
</style>
