@page "/{Host}/control"

@if (!string.IsNullOrEmpty(_screenDataUrl))
{
    <img src="@_screenDataUrl" width="1494" onload="window.revokeUrl(this.src)" />
}
else
{
    <p>Establishing connection...</p>
}
