@page "/{IPAddress}/control"
@using Microsoft.AspNetCore.SignalR.Client
@using RemoteMaster.Client.Models
@using RemoteMaster.Client.Services
@using System.Text.Json
@using Size = System.Drawing.Size
@inject NavigationManager NavigationManager
@inject ScreenHubConnectionService ScreenHubConnectionService
@inject ComputerService ComputerService
@inject IHttpClientFactory HttpClientFactory
@inject ILogger<Computer> Logger

@code {
    [Parameter]
    public string IPAddress { get; set; }

    private HubConnection hubConnection;
    private string statusMessage;
    private string screenDataUrl;
    private bool isConnectionStarted = false;
    private Computer managedComputer;
    private Size virtualScreenSize;

    protected override async Task OnInitializedAsync()
    {
        managedComputer = ComputerService.GetComputerByIp(IPAddress);
        virtualScreenSize = await GetVirtualScreenSizeAsync();

        if (managedComputer != null && hubConnection == null)
        {
            string serverUrl = $"https://{IPAddress}:7172/screenHub?screenId={IPAddress}";

            hubConnection = await ScreenHubConnectionService.GetConnectionAsync(serverUrl);
            hubConnection.On<byte[]>("ScreenUpdate", HandleScreenUpdate);
            hubConnection.Closed += HubConnectionClosed;

            if (hubConnection.State == HubConnectionState.Connected)
            {
                isConnectionStarted = true;
            }
        }
    }

    private async Task<Size> GetVirtualScreenSizeAsync()
    {
        HttpClient client = HttpClientFactory.CreateClient("ClientWithDisabledCertificateCheck");
        var response = await client.GetAsync($"https://{IPAddress}:7172/api/screen/size/virtual");

        var responseString = await response.Content.ReadAsStringAsync();

        return DeserializeScreenSize(responseString);
    }

    private Size DeserializeScreenSize(string responseString)
    {
        return JsonSerializer.Deserialize<Size>(responseString, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
    }

    private void HandleScreenUpdate(byte[] screenData)
    {
        screenDataUrl = $"data:image/png;base64,{Convert.ToBase64String(screenData)}";
        InvokeAsync(StateHasChanged);
    }

    private Task HubConnectionClosed(Exception? arg)
    {
        statusMessage = "Server connection lost.";
        Logger.LogWarning(statusMessage);
        return InvokeAsync(StateHasChanged);
    }

    public async Task DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}

@if (!string.IsNullOrEmpty(statusMessage))
{
    <p>@statusMessage</p>
}
else if (isConnectionStarted && !string.IsNullOrEmpty(screenDataUrl))
{
    <img src="@screenDataUrl" width="1494" />
}
else if (isConnectionStarted)
{
    <p>Connection started successfully, waiting for screen update...</p>
}
else
{
    <p>Establishing connection...</p>
}

@if (virtualScreenSize != null)
{
    <p>Virtual screen size: Width: @virtualScreenSize.Width, Height: @virtualScreenSize.Height</p>
}
