@page "/"
@using RemoteMaster.Client.Models;
@using RemoteMaster.Client.Components;

<div class="container mx-auto py-6 px-4">

    <div class="flex justify-between mb-4">
        <BitButton OnClick="GetComputersFromAD">
            Get Computers from AD
        </BitButton>

        <div class="space-x-4">
            <BitButton OnClick="(() => _addFolderRef.Show())">
                Add Folder
            </BitButton>

            <BitButton OnClick="(() => _addComputerManualRef.Show())">
                Add Computer
            </BitButton>
        </div>
    </div>

    <AddComputerFromAD @ref="_addComputerFromADRef" />

    <AddFolder @ref="_addFolderRef" />
    <AddComputerManual @ref="_addComputerManualRef" />

    <div class="row flex">

        <div class="border-r flex-none">
            <BitNav Items="_nodes" OnItemClick="(BitNavItem item) => OnItemClick(item)" />
        </div>

        <div id="container" class="flex-grow grid grid-cols-4 gap-4">
            @if (_selectedNode is Folder selectedFolder)
            {
                foreach (var child in selectedFolder.Children)
                {
                    if (child is Computer computer)
                    {
                        <ComputerCard Computer="computer" OnOpenShell="OpenShell" OnOpenInNewTab="OpenInNewTab" />
                    }
                }
            }
        </div>

    </div>

    <BitSnackBar @ref="_snackBar" Position="SnackBarPosition" AutoDismiss="SnackBarAutoDismiss" AutoDismissTime="TimeSpan.FromSeconds(SnackBarDismissSeconds)" />

    <!--<button onclick="openTabs()">Открыть выделенные</button>-->

</div>

<style>
    body {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .row {
        display: flex;
    }

    .border-r {
        /* adjust width as needed */
        width: 20%;
        padding-right: 20px; /* Add right padding */
    }

    #container {
        flex-grow: 1;
        border: 1px solid black;
        overflow: auto;
        height: calc(100vh - 300px); /* adjust as needed */
        padding-left: 20px; /* Add left padding */
    }
</style>
