@page "/"
@using Radzen;
@using RemoteMaster.Client.Models;
@using RemoteMaster.Client.Components;

<div class="container mx-auto py-6 px-4">

    <div class="flex justify-between mb-4">
        <RadzenButton Click="GetComputersFromAD" Text="Get Computers From AD" />

        <div class="space-x-4">
            <RadzenButton Text="New Folder" Click="OpenNewFolder" />
            <RadzenButton Text="New Computer" Click="OpenNewComputer" />
        </div>
    </div>

    <div class="flex">

        <div class="border-r-2 pr-5 flex-none">
            <RadzenCard>
                <RadzenTree Data="_entries" Expand="LoadComputers" Change="OnTreeChange">
                    <RadzenTreeLevel Text="GetTextForNode" Template="NodeTemplate" />
                </RadzenTree>
            </RadzenCard>
        </div>

        <div id="container" class="flex-grow grid grid-cols-4 gap-4 p-5">
            @if (_selectedNode is Folder selectedFolder)
            {
                foreach (var child in selectedFolder.Children)
                {
                    if (child is Computer computer)
                    {
                        <ComputerCard Computer="computer" />
                    }
                }
            }
        </div>

    </div>

</div>

<style>
    body {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .border-r {
        width: 20%;
    }
</style>
