@page "/"
@using Radzen;
@using RemoteMaster.Client.Models;
@using RemoteMaster.Client.Components;

<div class="container mx-auto py-6 px-4">

    <div class="flex justify-between mb-4">
        <RadzenButton Click="GetComputersFromAD" Text="Get Computers From AD" />

        <div class="space-x-4">
            <RadzenButton Text="New Folder" Click="OpenNewFolder" />
            <RadzenButton Text="New Computer" Click="OpenNewComputer" />
        </div>
    </div>

    <div class="row flex">

        <div class="border-r flex-none">
            <RadzenCard>
                <RadzenTree Data="_entries" Expand="LoadComputers" Change="OnTreeChange">
                    <RadzenTreeLevel Text="GetTextForNode" Template="ComputerTemplate" />
                </RadzenTree>
            </RadzenCard>
        </div>

        <div id="container" class="flex-grow grid grid-cols-4 gap-4">
            @if (_selectedNode is Folder selectedFolder)
            {
                foreach (var child in selectedFolder.Children)
                {
                    if (child is Computer computer)
                    {
                        <ComputerCard Computer="computer" />
                    }
                }
            }
        </div>

    </div>

    <!--<BitSnackBar @ref="_snackBar" Position="SnackBarPosition" AutoDismiss="SnackBarAutoDismiss" AutoDismissTime="TimeSpan.FromSeconds(SnackBarDismissSeconds)" />-->

    <!--<button onclick="openTabs()">Открыть выделенные</button>-->

</div>

<style>
    body {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .row {
        display: flex;
    }

    .border-r {
        /* adjust width as needed */
        width: 20%;
        padding-right: 20px; /* Add right padding */
    }

    #container {
        flex-grow: 1;
        border: 1px solid black;
        overflow: auto;
        height: calc(100vh - 300px); /* adjust as needed */
        padding-left: 20px; /* Add left padding */
    }
</style>
