@using Radzen
@using Microsoft.AspNetCore.Components
@using RemoteMaster.Server.Models

<div @oncontextmenu:preventDefault="true" @oncontextmenu="@(args => ShowContextMenu(args))" class="mb-4 bg-transparent box-border p-1 ui-selectable" data-ip-address="@Computer.IPAddress">
    <div class="bg-white shadow-lg rounded-md overflow-hidden">
        <img src="@ThumbnailPath" alt="Thumbnail" class="h-40 w-full object-cover" />
        <div class="p-3">
            <span class="text-center text-lg">@Computer.Name</span>
        </div>
    </div>
</div>