@using Radzen

<form method="post" action="api/HostConfiguration/generate" class="select-none">
    <RadzenLabel Text="Computer Group:" style="display: block; margin-bottom: 10px;"></RadzenLabel>
    <RadzenTextBox @bind-Value="_group" Width="100%" Name="Group" required></RadzenTextBox>

    <div style="margin: 20px 0;">
        <RadzenButton ButtonType=ButtonType.Submit Text="Download Configuration"></RadzenButton>
        <RadzenButton Text="Download Host" Click="DownloadHost" />
    </div>
</form>