@inherits LayoutComponentBase

<PageTitle>RemoteMaster.Client</PageTitle>

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<div class="flex h-screen">
    <main class="flex-1 flex flex-col overflow-hidden">
        <div class="flex-1 overflow-x-hidden overflow-y-hidden bg-white">
            @Body
        </div>
    </main>
</div>
