<ul class="flex flex-col text-gray-800">
    <li>
        <NavLink class="mt-2 block rounded-md bg-gray-50 px-4 py-3 text-sm font-medium text-gray-700 shadow-sm transition duration-300 hover:bg-blue-500 hover:text-white" href="Admin/Organizations">Organizations</NavLink>
    </li>
    <li>
        <NavLink class="mt-2 block rounded-md bg-gray-50 px-4 py-3 text-sm font-medium text-gray-700 shadow-sm transition duration-300 hover:bg-blue-500 hover:text-white" href="Admin/Users">Users</NavLink>
    </li>
    <li>
        <NavLink class="mt-2 block rounded-md bg-gray-50 px-4 py-3 text-sm font-medium text-gray-700 shadow-sm transition duration-300 hover:bg-blue-500 hover:text-white" href="Account/Logout">Logout</NavLink>
    </li>
</ul>